* {
    box-sizing: border-box;
  
	
}

body {
  margin: 0;
}

div#imagenes{
    background: #FFD700;
}

div#fecha{
    float: right;
    border: 1px solid #FFD700;
    background-color:Gold ;
}



/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
}




header #button-menu{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.navegacion{
	position: absolute;
	top: 60%;
	left: 0;
	width: 0%;
	background: rgba(0,0,0,.0);

}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;

	position: absolute;
	top: 0;
}

/* el nombre de categoria */
.navegacion .menu li.title-menu{
	padding: 20px;
	background: #000000;
	color: #fff;
	text-align: center;
	font-size: 22px;
}

/* las opciones de menu */
.navegacion .menu a{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;

	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
}

/* el sombreado cuando seleccionas un menu */
.navegacion .menu a:hover{
	background: #ffa500;
	color: 	#FFFFFF;
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';

	float: right;
	color: #C5C5C5;
}

/* Submenu ============*/

.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
}


iframe{
    border-style: none;
    position: absolute;
	top: 100%;
	left: 320px;
	width: 1050px;
        height: 1700px;
	background: rgba(0,0,0,.0);
}


@media screen and (max-width: 330px){
	.navegacion ul{
		width: 100%;
	}
}