*{
	margin: 0;
	padding: 0;
        position: relative;
	box-sizing: border-box;
}

body{
	font-family: 'Open sans';
	background: #FFFFFF;
        
}
div#imagenes{
    background: #FFD700;
}

div#fecha{
    float: right;
    border: 1px solid #FFD700;
    background-color:Gold ;
}

header #button-menu{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

header #button-menu{
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.navegacion{
	position: absolute;
	top: 100%;
	left: 0;
	width: 0%;
	background: rgba(0,0,0,.0);

}

.navegacion ul{
	width: 320px;
	height: 100%;
	background: #fff;
	list-style: none;

	position: absolute;
	top: 0;
}

.navegacion .menu li.title-menu{
	padding: 20px;
	background: #000000;
	color: #fff;
	text-align: center;
	font-size: 22px;
}

.navegacion .menu a{
	display: block;
	padding: 20px;
	border-bottom: 1px solid #C6D0DA;

	font-size: 22px;
	font-weight: 200;
	text-decoration: none;
	color: #575D69;
}

.navegacion .menu a:hover{
	background: #ffa500;
	color: 	#FFFFFF;  
}

.navegacion .menu li span.icon-menu{
	margin-right: 12px;
}

.navegacion .menu .item-submenu > a::after{
	font: normal normal normal 14px/1 FontAwesome;
  	font-size: inherit;
  	text-rendering: auto;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
	content: '\f105';

	float: right;
	color: #C5C5C5;
}

/* Submenu ============*/

.navegacion .submenu li.title-menu{
	background: #fff;
	color: #575D69;
}


iframe{
    border-style: none;
    position: absolute;
	top: 100%;
	left: 320px;
	width: 1050px;
        height: 570px;
	background: rgba(0,0,0,.0);
}



@media screen and (max-width: 330px){
	.navegacion ul{
		width: 100%;
	}
}
   
 .formulario > div {
    padding: 20px 0; }
  .formulario .radio label {
    display: inline-block;
    cursor: pointer;
    color: #FF851B;
    position: relative;
    padding: 5px 15px 5px 51px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .formulario .radio label:hover{
        
      background: rgba(255, 65, 54, 0.1); }
    .formulario .radio label:before {
      content: "";
      display: inline-block;
      width: 17px;
      height: 17px;
      position: absolute;
      left: 15px;
      border-radius: 50%;
      background: none;
      border: 3px solid #FF851B; }
  .formulario input[type="radio"] {
    display: none; }
    .formulario input[type="radio"]:checked + label:before {
      display: none; }
    .formulario input[type="radio"]:checked + label {
      padding: 5px 15px;
      background: #FF851B;
      border-radius: 2px;
      color: #fff; }
